#contacts {
    background-image: url(../assets/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-block: 80px 120px;
}

#contacts header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#contacts header h2 {
    color: var(--purple);
}

#links {
    height: 320px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#links a {
    background-color: var(--gray-300);
    border: 1px solid var(--gray-300);
    transition: border-color 0.2s ease;
    height: 68px;
    width: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px;
    text-decoration: none;
}

#links span {
    width: 288px;
}

#links a:hover {
    border: 1.5px solid var(--blue);
  }